{% load crispy_forms_tags %}
<html>

<head>
    <title>Sample Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
       <div style="width: 50%" >


        <h2>create category</h2>
    <form action="{% url 'cat_create' %}" method="POST">
        {% csrf_token %}
        {{ form |crispy }}
        {{error}}
        <input type="submit" value="Submit">
    </form>
    </body>
</div>
    </body>

    </body>
</html>